<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd:Mongo"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>
  <!--THis is to Use store procedure in the NLOG--> 
  <!--commandText="exec dbo.InsertLog
                            @level,
                            @callSite,
                            @type,
                            @message,
                            @stackTrace,
                            @innerException,
                            @additionalInfo">-->

  <targets>
    <target xsi:type="Mongo"
        name="Mongo"
        connectionName="NLogMongo"
        includeDefaults="false"
        databaseName="ProviderLookup"
        collectionName="logs"
        cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>
    <target xsi:type="File"
     name="file"
     layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
     archiveAboveSize="10000000"
     maxArchiveFiles="1"
     archiveFileName="${basedir}/log_archived.txt"
     fileName="log.txt" />
    <target name="database"
           xsi:type="Database"
           connectionStringName="NLogSQL"
           commandText="INSERT INTO [dbo].[Logs]
           ([Level]
           ,[CallSite]
           ,[Type]
           ,[Message]
           ,[StackTrace]
           ,[InnerException]
           ,[AdditionalInfo]
           )
            VALUES
           (@level,
            @callSite,
            @type,
             @message,
            @stackTrace,
             @innerException,
            @additionalInfo)" >
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                  layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
    </target>
  </targets>
  <rules>
    <logger levels="Error" minlevel="Error" name="databaseLoggerMongo" writeTo="Mongo"/>
    <logger name="*" levels="Debug,Trace" writeTo="file"/>
    <logger levels="Info,Warn,Fatal" name="databaseLoggerSQL" writeTo="database"/>
  </rules>
</nlog>
